[submodule "basic-android-kotlin-compose-training-tip-calculator"]
	path = basic-android-kotlin-compose-training-tip-calculator
	url = https://github.com/nicolasSagon/basic-android-kotlin-compose-training-tip-calculator.git
